<footer class="d-footer">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto">
      <p class="mb-0">© 2026 Agent1. All Rights Reserved.</p>
    </div>
    <div class="col-auto">
      <p class="mb-0">
        Developed by
        <a href="https://github.com/holgerkpedersen/Agent1" target="_blank" rel="noopener"
          class="text-primary-600">Holger K. Pedersen</a>
        &middot; UI/UX
        <a href="https://2tinteractive.com" target="_blank" rel="noopener" class="text-primary-600">2tinteractive.com</a>
        (<a href="https://github.com/LebToki" target="_blank" rel="noopener" class="text-primary-600">Tarek Tarabichi</a>)
      </p>
    </div>
  </div>
</footer>