<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agent1 - Performance Dashboard</title>
<link rel="icon" type="image/png" href="static/ttheme/images/logo-icon.png" sizes="16x16">
<link rel="stylesheet" href="static/assets/logo3d.css">
<!-- TTTHEME framework -->
<style>
@font-face {
  font-family: 'Poppins';
  src: url('static/ttheme/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('static/ttheme/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('static/ttheme/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
</style>
<link rel="stylesheet" href="static/ttheme/css/remixicon.css">
<link rel="stylesheet" href="static/ttheme/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="static/ttheme/css/style.css">
<link rel="stylesheet" href="static/ttheme/css/monochrome-mode.css">